@{
    ViewBag.Title = "Alternate Table Style";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Alternate Table Style
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <table width="100%" class="display responsive nowrap" id="dataTables-gd">
            <thead>
            <tr>
                <th>Type</th>
                <th>Document Name</th>
                <th>Created On</th>
                <th>Path</th>
                <th>Template Name</th>
                <th>Created By</th>
                <th>Owner</th>
                <th>Size</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>

                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            <tr>
                <td>Pdf</td>
                <td>Global Developers Invoice</td>
                <td>27/03/2008</td>
                <td>/temp/first/gdInvoice.pdf</td>
                <td>Invoice</td>
                <td>tsingh</td>
                <td>DCS</td>
                <td>1 MB</td>
                <td>1.1</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
